@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorUser</title>
</head>
<body>
    <div>
        You are not authorized
        <a href ="http://localhost:53350/Account/Login">Log in</a>
    </div>
</body>
</html>
